[ad]
# Server IP/Name and Port
server: 127.0.0.1
port: 389

# Credentials to login to AD, best to have a dedicated read-only user for this
user: <DOMAIN>\Administrator
password: example

# Start to search for users
base: dc=<DOMAIN>,dc=com

[db]
# Database file, make sure this is read/write for the user running the script
# If login with key fails this is the number one reason
dbfile: /tmp/ssh_ad_keys.db

# Timeout of cache using SQLLite3 notation
# -1 minute , -1 hour, -1 day, -1 month
cache_timeout: -3 months
